html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --color-1: #a8a8ff;
  --color-2: #8055ff;
}
.wrapper {
  min-height: calc(100vh);
  padding: 1rem 3rem 0px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page-header {
  height: 2rem;
  background-color: var(--color-1);
  margin-bottom: 2rem;
}
.h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 2rem;
  padding: 0.5rem;
  color: var(--color-2);
  letter-spacing: -0.2px;
}
h2 {
  color: var(--color-2);
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--color-1);
  margin-bottom: 2rem;
  padding: 0.5rem;
}
.filter__searchbar-group {
  display: flex;
}
.filter__searchbar-1 {
  height: 2rem;
  width: 256px;
  background-color: var(--color-2);
  margin-right: 0.5rem;
}
.filter__searchbar-2 {
  height: 2rem;
  width: 2rem;
  background-color: var(--color-2);
}
.filter__loading {
  height: 2rem;
  width: 2rem;
  background-color: var(--color-2);
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-2);
  height: 100%;
  flex-grow: 1;
}
.table__header {
  background-color: var(--color-2);
  height: 48px;
}
.table__body {
  flex-grow: 1;
  background-color: var(--color-1);
  height: 516px;
  overflow-y: auto;
  flex-grow: 1;
}
.table__footer {
  position: relative;
  position: sticky;
  background-color: var(--color-2);
  height: 48px;
  bottom: 0px;
}
